.main
  .main__menu
    .main__menu__header
      .main__menu__header__all
        最近にされた投稿
      .main__menu__header__list
        =link_to "contents/shows", class: "main__menu__list" do
          =icon('fas',"fas fa-stream",class: "main__menu__list")
    .main__menu__contents
      -@contents.each do |content|
        .main__menu__contents__content
          =link_to content.title, user_path(content.id),class:"main__menu__contents__content__link"
          .main__menu__contents__content__user
            by.
            =link_to current_user.name, user_path(content.id),class:"main__menu__contents__content__user__link"