%section.w
  .w-head
    %i.w-eye
    %i.w-eye.w-eye_right
  .w-arm
  .w-arm.w-arm_right
  .w-leg
    .w-leg-top
    .w-leg-bottom
      .w-heel
      .w-shoelace
      .w-shoelace
  .w-leg.w-leg_right
    .w-leg-top
    .w-leg-bottom
      .w-heel
      .w-shoelace
      .w-shoelace
  .w-body
    .w-body-skinr
    .w-body-nipples
.title
  =link_to contents_path,class:"title_link" do
    =icon('fas','fab fa-home',class:"title_home")
    title
-if signed_in?
  .login
    =link_to destroy_user_session_path, method: :delete,class:"login_link" do
      =icon("fas","far fa-user",class:"login__user")
      logout
- else
  .login
    =link_to new_user_session_path,class:"login_link" do
      =icon("fas","far fa-user",class:"login__user")
      login
  .signup
    =link_to new_user_registration_path,class:"signup_link" do
      =icon("fas","fas fa-user-plus",class:"login__user")
      sign up
