.create
  =form_for [@content] do |f|
    = f.text_field :title, placeholder: "タイトル", class: 'create__title', autocomplete: 'off'
    .create__text
      =f.collection_select :category_id,Category.all,:id,:category
      .create__text__header  
        =f.label :image,class: ".create__text__header__image " do
          =icon("fas","far fa-image",class:"create__text__header__image__icon" )
          =f.file_field :image, class:"create__text__header__image__form", autocomplete: 'off'
      .create__text__box
        = f.text_area :text, placeholder: "入力してください", class: 'create__text__box__form',rows: "50"
    =f.submit "投稿する",class: "create__btn"