.show{
  width: 100%;
  height: calc(100% - 100px);
  padding-top: 135px;
  .show-likes{
    line-height: 40px;
    position: fixed;
    margin: 0 0 0 50px;
    padding-bottom: 30px;
  }
  .show-like{
    border-radius: 50% ;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    margin: 0 0 0 50px;
    &__btn{
      display: none;
    }
    &__icon{
      font-size: 30px;
      color: white;
    }
  }
  .heart {
    width: 100px;
    height: 100px;
    position: fixed;
    margin: 20px 0 0 75px;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }
  
  .show-main{
    border-radius:7px 7px 0 0;
    margin: 0px auto;
    background-color: white;
    width: 820px - 5px;
    padding:5px 0  0 5px;
    &__titles{
      margin: 0px auto;
      width: 820px;
      background-color: white;
      padding-bottom: 100px;
      line-height: 50px;
      border-radius:7px;
      &__title{
        font-size: 40px;
        width: 800px;
        background-color: white;
        line-height: 50px;
        padding-left:20px ;
        text-align: center;
      }
      &__date{
        color: #cccccc;
        font-size: 15px;
        padding-left: 630px ;
        border-bottom: 1px solid;
      }
      &__text{
        width: 800px - 40px ;
        background-color: white;
        line-height: 50px;
        padding:10px 0 0 60px ;
        line-height: 30px;
      }
    }
  }

.answers{
  border-radius:7px;
  width: 820px;
  background-color: white;
  margin: 200px auto;
  .answer__user{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
  }
}
}

.answer{
	position: relative;
	background: white;
  border: 2px solid #999999;
  &__user{
    font-size: 14px;
    margin: 10px;
  }
  &__created_at{
    padding-left: 40px;
    font-size: 13px;
    border-bottom: 1px solid #dddddd    ;
  }
  &__text{
    padding: 10px;
    font-size: 20px;
  }
}
.answer:after, .answer:before {
	bottom: 100%;
  left: 50px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.answer:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 20px;
	margin-left: -20px;
}
.answer:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #999999;
	border-width: 23px;
  margin-left: -23px;
}
.answer-form{
  width: 800px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  line-height: 20px;
  padding: 20px; 
  .answer-form__main{
    text-align: left;
    padding: 50px;
    &__form{
      height: 200px;
      width: 600px;
      border-radius: 10px;
      font-size: 17px;
    }
    &__btn{
      border-radius: 50%;
      height: 30px;
      float: right;
      margin-top: 220px;
    }
  }
}
