.user
  .user-show
    =current_user.name 
    さんの記事一覧
  .user-content
    -@content.each do |content|
      .user-content__title
        =content.title
      .user-content__created_at
        =content.created_at
      .user-content__image
      .user-content__text
        =content.text    
        