.profile_side
  .profile_side__main
    =link_to "マイページ",edit_user_path(current_user),class:"profile_side__main__link"
  .profile_side__history
    =link_to "履歴", history_path(current_user.id),class:"profile_side__history__link"
  .profile_side__like
    =link_to "いいね一覧", user_likes_show_path(current_user.id),class:"profile_side__like__link"