.histories
  .histories__header
    履歴
  .histories__destroy
    =link_to "全削除", history_path(current_user),method: :delete
  -@history.each do |history|
    .histories__title
      .histories__title__main
        =link_to  history.content.title,content_path(history.content.id)
      .histories__title__delete
        =link_to "削除",history_destroy2_path(history.id),method: :delete
  =paginate @history