// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fc-left{
  // font-family: fantasy;
}
.fc-day-header{
  font-family: "Hiragino Kaku Gothic Pro";
}
.fc-day-top {
  font-family: fantasy;
}
.fc-sat{
  color: red;
}
.fc-sun{
  color: red;
}