.kaminari_link{
  color: black;
  text-decoration: none;
}
.kaminari_link:hover{
  text-decoration: underline;
}
.pagination{
  width: 300px;
  padding: 20px 0;
  margin: 0 auto 20px;
}
.page{
color: rgb(0, 169, 236);
}