.categries_main
  .categries_main__header
    =link_to "カテゴリー一覧",all_path,class:"categries_main__header__link"
  -@categories.each do |category|
    .categries_main__category_first
      =link_to category.category,category_path(category_id=category.id),class:"categries_main__link"
  