.categories
  .category
    =link_to @category_name.category,categories_path,class:"category__link"
    の一覧
  -@category_content.each do |category|
    .category__main
      .category__main__title
        =link_to category.title, content_path(category.id),class:"category__main__title__link"
        .category__main__text
          =link_to category.text, content_path(category.id),class:"category__main__text__link"
      .category__main__user
        .category__main__user__name
          =link_to "by.",user_path(category.user.id),class:"category__main__user__name__link"
          =link_to category.user.name,user_path(category.user.id),class:"category__main__user__name__link"
        .category__main__user__created_at
          =link_to category.created_at.strftime("%Y-%m-%d %H:%M"),user_path(category.user.id),class:"category__main__user__name__link"