$(".show-destroy").html("<%= j(render partial: 'content_likes/create', locals: { content: @content }) %>");
$(".heart_sub").remove()
$(".show-destroy").append(`<div class="show-like">
                          <i class="fas fa-fas fa-heart show-like__icon"></i>
                          </div>`)